<div class="row">
    <div class="col-sm-8 offset-sm-2 col-xs-12 create-meetup">
        <form id="createMeetupForm" class="form-horizontal">
            <fieldset>
                <legend><i class="fa fa-info-circle" aria-hidden="true"></i> General Information</legend>

                <div class="form-group col-sm-12">
                    <label for="size" class="meetup9-color">{{labels.forms.meetup.eventName}} (*)</label>
                    <input type="text" name="eventName" id="eventName"
                           placeholder="{{labels.forms.meetup.eventNamePlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventType}} (*)</label>
                    <input type="text" name="eventType" id="eventType"
                           placeholder="{{labels.forms.meetup.eventTypePlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventHost}} (*)</label>
                    <input type="text" name="eventHost" id="eventHost"
                           placeholder="{{labels.forms.meetup.eventHostPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.description}}</label>
                    <textarea id="description" name="description" class="form-control"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-location-arrow"
                           aria-hidden="true"></i> {{labels.forms.meetup.location}}</legend>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventStartDate}}</label>

                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                        <input type="date" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <input type="time" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventEndDate}}</label>

                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                        <input type="date" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <input type="time" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventCountry}}</label>
                    <input type="text" name="country" class="form-control"
                           placeholder="{{labels.forms.meetup.eventCountryPlaceHolder}}" list="countries">
                    <datalist id="countries"></datalist>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventCity}}</label>
                    <input type="text" name="eventHost" id="eventHost"
                           placeholder="{{labels.forms.meetup.eventCityPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventAddress}}</label>
                    <input type="text" name="eventHost" id="eventHost"
                           placeholder="{{labels.forms.meetup.eventAddressPlaceHolder}}" class="form-control">
                </div>
            </fieldset>


            <fieldset>
                <legend><i class="fa fa-plus-circle"
                           aria-hidden="true"></i> {{labels.forms.meetup.additionalInformation}}</legend>

            </fieldset>

            <div class="form-group text-xs-center">
                <button type="submit" class="btn btn-info">{{labels.forms.meetup.createMeetup}}</button>
            </div>

        </form>
    </div>
</div>
