<div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 create-meetup">
        <form id="createMeetupForm" class="form-horizontal" method="post">
            <fieldset>
                <legend><i class="fa fa-info-circle" aria-hidden="true"></i> General Information</legend>

                <div class="form-group col-sm-12">
                    <label for="eventName" class="control-label">{{labels.forms.meetup.eventName}} (*)</label>
                    <input type="text" name="eventName" id="eventName" required autocomplete="true"
                           placeholder="{{labels.forms.meetup.eventNamePlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventType" class="control-label">{{labels.forms.meetup.eventType}} (*)</label>
                    <input type="text" name="eventType" id="eventType" required autocomplete="true"
                           placeholder="{{labels.forms.meetup.eventTypePlaceHolder}}" class="form-control" list="eventTypes">
                    <datalist id="eventTypes">
                        <option value="Hiking"></option>
                        <option value="Language"></option>
                        <option value="Tour"></option>
                        <option value="Drinks"></option>
                        <option value="Dance"></option>
                        <option value="Concert"></option>
                        <option value="Exercise"></option>
                        <option value="Music"></option>
                        <option value="Food"></option>
                        <option value="Literature"></option>
                        <option value="Ecotourism"></option>
                        <option value="Software Development"></option>
                    </datalist>
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventHost" class="control-label">{{labels.forms.meetup.eventHost}} (*)</label>
                    <input type="text" name="eventHost" id="eventHost" required autocomplete="true"
                           placeholder="{{labels.forms.meetup.eventHostPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventGuestList" class="control-label">{{labels.forms.meetup.eventGuestList}} (*)</label>
                    <input type="text" name="eventGuestList" id="eventGuestList" required autocomplete="true"
                           placeholder="{{labels.forms.meetup.eventGuestListPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="description" class="control-label">{{labels.forms.meetup.description}} (Optional)</label>
                    <textarea id="description" name="description" class="form-control"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-location-arrow"
                           aria-hidden="true"></i> {{labels.forms.meetup.location}}</legend>

                <div class="form-group col-sm-12">
                    <label for="eventStartDate" class="control-label">{{labels.forms.meetup.eventStartDate}} (*)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                        <input type="datetime-local" class="form-control" name="eventStartDate" id="eventStartDate" required >
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventEndDate" class="control-label">{{labels.forms.meetup.eventEndDate}} (*)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                        <input type="datetime-local" class="form-control" name="eventEndDate" id="eventEndDate" required>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="country" class="control-label">{{labels.forms.meetup.eventCountry}} (*)</label>
                    <input type="text" name="country" id="country" class="form-control" required autocomplete="true"
                           placeholder="{{labels.forms.meetup.eventCountryPlaceHolder}}" list="countries">
                    <datalist id="countries"></datalist>
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventCity" class="control-label">{{labels.forms.meetup.eventCity}}  (*)</label>
                    <input type="text" name="eventCity" id="eventCity" required
                           placeholder="{{labels.forms.meetup.eventCityPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventAddress" class="control-label">{{labels.forms.meetup.eventAddress}}  (*)</label>
                    <input type="text" name="eventAddress" id="eventAddress" required
                           placeholder="{{labels.forms.meetup.eventAddressPlaceHolder}}" class="form-control">
                </div>
            </fieldset>


            <fieldset>
                <legend><i class="fa fa-plus-circle"
                           aria-hidden="true"></i> {{labels.forms.meetup.additionalInformation}}</legend>

                <div class="form-group col-sm-12">
                    <label for="eventCost" class="control-label">{{labels.forms.meetup.eventCost}}</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                        <input type="number" name="eventCost" id="eventCost"
                               placeholder="{{labels.forms.meetup.eventCostPlaceHolder}}" class="form-control">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="eventGuest" class="control-label">{{labels.forms.meetup.eventGuest}}</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
                        <select name="eventGuest" id="eventGuest" class="form-control">
                            <option value="0">N/A</option>
                            <option value="0_10">0 - 10 People</option>
                            <option value="10_20">10 - 20 People</option>
                            <option value="20_50">20 - 50 People</option>
                            <option value="more_than_50">More than 50 People</option>
                        </select>
                    </div>
                </div>

            </fieldset>

            <div class="form-group text-xs-center">
                <button type="submit" class="btn btn-info">{{labels.forms.meetup.createMeetup}}</button>
            </div>
            <div class="form-group message-meetup-form has-feedback">
                <div class="form-control-feedback"></div>
            </div>
        </form>
    </div>
</div>
