<div class="row">
    <div class="col-sm-8 offset-sm-2 col-xs-12 create-meetup">
        <form id="createMeetupForm" class="form-horizontal">
            <h3 class="header-meetup"><i class="fa fa-info-circle" aria-hidden="true"></i> General Information</h3>

            <div class="form-group">
                <label for="size" class="meetup9-color">{{labels.forms.meetup.eventName}} (*)</label>
                <input type="text" name="eventName" id="eventName"
                       placeholder="{{labels.forms.meetup.eventNamePlaceHolder}}" class="form-control">
            </div>

            <div class="form-group">
                <label for="size">{{labels.forms.meetup.eventType}} (*)</label>
                <input type="text" name="eventType" id="eventType"
                       placeholder="{{labels.forms.meetup.eventTypePlaceHolder}}" class="form-control">
            </div>

            <div class="form-group">
                <label for="size">{{labels.forms.meetup.eventHost}} (*)</label>
                <input type="text" name="eventHost" id="eventHost"
                       placeholder="{{labels.forms.meetup.eventHostPlaceHolder}}" class="form-control">
            </div>

            <div class="form-group">
                <label for="size">{{labels.forms.meetup.description}}</label>
                <textarea id="description" class="form-control"></textarea>
            </div>

            <h3 class="header-meetup"><i class="fa fa-location-arrow"
                                         aria-hidden="true"></i> {{labels.forms.meetup.location}}</h3>

            <div class="form-group">
                <label for="size">{{labels.forms.meetup.eventDate}}</label>
                <input type="date" class="form-control">
            </div>

            <h3 class="header-meetup"><i class="fa fa-plus-circle"
                                         aria-hidden="true"></i> {{labels.forms.meetup.additionalInformation}}</h3>

            <div class="form-group">
                <label for="size">{{labels.forms.meetup.eventHost}}</label>
                <input type="text" name="eventHost" id="eventHost"
                       placeholder="{{labels.forms.meetup.eventHostPlaceHolder}}" class="form-control">
            </div>

            <div class="form-group text-xs-center">
                <button type="submit" class="btn btn-info">{{labels.forms.meetup.createMeetup}}</button>
            </div>

        </form>
    </div>
</div>
