<div class="row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 create-meetup">
        <form id="createMeetupForm" class="form-horizontal" method="post">
            <fieldset>
                <legend><i class="fa fa-info-circle" aria-hidden="true"></i> General Information</legend>

                <div class="form-group col-sm-12">
                    <label for="size" class="meetup9-color">{{labels.forms.meetup.eventName}} (*)</label>
                    <input type="text" name="eventName" id="eventName" required
                           placeholder="{{labels.forms.meetup.eventNamePlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventType}} (*)</label>
                    <input type="text" name="eventType" id="eventType" required
                           placeholder="{{labels.forms.meetup.eventTypePlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventHost}} (*)</label>
                    <input type="text" name="eventHost" id="eventHost" required
                           placeholder="{{labels.forms.meetup.eventHostPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.description}} (Optional)</label>
                    <textarea id="description" name="description" class="form-control"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend><i class="fa fa-location-arrow"
                           aria-hidden="true"></i> {{labels.forms.meetup.location}}</legend>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventStartDate}}</label>

                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                        <input type="date" class="form-control" name="eventStartDate">
                        <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <input type="time" class="form-control" name="eventStartTime">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventEndDate}}</label>

                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
                        <input type="date" class="form-control" name="eventEndDate">
                        <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <input type="time" class="form-control" name="eventEndTime">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventCountry}}</label>
                    <input type="text" name="country" class="form-control"
                           placeholder="{{labels.forms.meetup.eventCountryPlaceHolder}}" list="countries">
                    <datalist id="countries"></datalist>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventCity}}</label>
                    <input type="text" name="eventCity" id="eventCity"
                           placeholder="{{labels.forms.meetup.eventCityPlaceHolder}}" class="form-control">
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventAddress}}</label>
                    <input type="text" name="eventAddress" id="eventAddress"
                           placeholder="{{labels.forms.meetup.eventAddressPlaceHolder}}" class="form-control">
                </div>
            </fieldset>


            <fieldset>
                <legend><i class="fa fa-plus-circle"
                           aria-hidden="true"></i> {{labels.forms.meetup.additionalInformation}}</legend>

                <div class="form-group col-sm-12">
                    <label for="size" class="meetup9-color">{{labels.forms.meetup.eventCost}} (*)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></div>
                        <input type="number" name="eventCost" id="eventCost"
                               placeholder="{{labels.forms.meetup.eventCostPlaceHolder}}" class="form-control">
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label for="size">{{labels.forms.meetup.eventGuest}} (*)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
                        <select name="eventGuest" id="eventGuest" class="form-control">
                            <option value="0_10">0 - 10 People</option>
                            <option value="10_20">10 - 20 People</option>
                            <option value="20_50">20 - 50 People</option>
                            <option value="more_than_50">More than 50 People</option>
                        </select>
                    </div>
                </div>

            </fieldset>

            <div class="form-group text-xs-center">
                <button type="submit" class="btn btn-info">{{labels.forms.meetup.createMeetup}}</button>
            </div>

        </form>
    </div>
</div>
