<div class="container">
    <div class="row">
        {{#each meetups}}
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!--Card-->
                <div class="card">
                    <div class="">
                        <!--Card image-->
                        <div class="card-image" style="background-image: url('./images/meeting-filter.jpg')"></div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <h4 class="card-title">{{eventName}}</h4>
                            <h6 class="card-subtitle text-muted">{{eventType}}</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-usd"></i> {{eventCost}}</li>
                            <li class="list-group-item"><i class="fa fa-users"></i> {{eventGuest}}</li>
                            <li class="list-group-item"><i class="fa fa-map-marker"></i> {{eventAddress}}, {{eventCity}}</li>
                        </ul>
                        <!--/.Card content-->

                        <!-- Card description -->
                        <div class="card-block card-description">
                            <p class="card-text truncate">{{description}}</p>
                        </div>
                        <!--/ Card description -->


                        <!-- Card footer -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-1 col-md-1 col-lg-1"><i class="fa fa-calendar"></i></div>
                                <div class="col-sm-10 col-md-10 col-lg-10"><strong>Start</strong> {{eventStartDate}}
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1"><i class="fa fa-calendar"></i></div>
                                <div class="col-sm-10 col-md-10 col-lg-10"><strong>End</strong> {{eventEndDate}}</div>
                            </div>
                            <div class="view-details">
                                <div>
                                    <a href="#!"><i class="fa fa-chevron-circle-right"></i> Review Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card footer -->
                    </div>
                </div>
                <!--/.Card-->
            </div>
        {{/each}}
    </div>
</div>
