<!--menu-->
<nav class="navbar navbar-light navbar-fixed-top">
    <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#navbar-header" aria-controls="bd-main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
            ☰
        </button>
        <a class="navbar-brand hidden-sm-up" href="/">
            {{labels.projectName}}
        </a>
    </div>
    <div class="navbar-toggleable-xs collapse" id="navbar-header" aria-expanded="false" style="height: 0px;">
        <a class="navbar-brand hidden-xs-down" href="/">{{labels.projectName}}</a>
        <ul class="nav navbar-nav pull-sm-right">
            <li class="nav-item {{#ifCond activePage '==' labels.menu.createMeetup}}active{{/ifCond}}">
                <a class="nav-link" href="/meetups/create">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> {{labels.menu.createMeetup}}</a>
            </li>

            {{#is isAuth false}}
                <li class="nav-item {{#ifCond activePage '==' labels.menu.signIn}}active{{/ifCond}}">
                    <a class="nav-link" href="/sign-in">
                        <i class="fa fa-user" aria-hidden="true"></i> {{labels.menu.signIn}}</a>
                </li>
                <li class="nav-item {{#ifCond activePage '==' labels.menu.signUp}}active{{/ifCond}}">
                    <a class="nav-link" href="/sign-up">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> {{labels.menu.signUp}}</a>
                </li>
            {{/is}}

            {{#is isAuth true}}
                <li class="nav-item {{#ifCond activePage '==' labels.menu.profile}}active{{/ifCond}}">
                    <a class="nav-link" href="/users/profile">
                        <i class="fa fa-user" aria-hidden="true"></i> {{user.displayName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> {{labels.menu.logOut}}</a>
                </li>
            {{/is}}
        </ul>
    </div>
</nav>
<!--/menu-->
