<p class="text-sm-center text-muted">Create your account</p>
<form id="signupForm">
    <div class="form-group message-sign-up has-feedback">
        <div class="form-control-feedback"></div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="firstName">{{labels.forms.firstName}}</label>
        <input type="text" name="firstName" class="form-control"
               placeholder="{{labels.forms.firstName}} *" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="lastName">{{labels.forms.lastName}}</label>
        <input type="text" name="lastName" class="form-control"
               placeholder="{{labels.forms.lastName}} *" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="email">{{labels.forms.email}}</label>
        <input type="email" name="email" class="form-control"
               placeholder="{{labels.forms.email}} *" required autocomplete="true">
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">{{labels.forms.password}}</label>
        <input type="password" name="password" class="form-control"
               placeholder="{{labels.forms.password}} *" required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="country">{{labels.forms.country}}</label>
        <input type="text" name="country" class="form-control"
               placeholder="{{labels.forms.country}}" list="countries">
        <datalist id="countries"></datalist>
    </div>
    <div class="form-group text-xs-center">
        <button type="submit" class="btn btn-info">{{labels.menu.signUp}}</button>
    </div>
</form>